body {
    background-color: bisque;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

#recipe-list {
    border: 1px solid red;
    width: 300px;
}

#gnocchi-div {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}

#chocMuffin-div {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}

#pizza-div {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}

#odin-logo {
    border: 8px solid lightgreen;
   
}